%section{class: 'form add-item'}
  = form_for [:admin, @item] do |f|
    = render partial: 'shared/errors', locals: { target: @item }
    .form-group
      = f.label :name
      = f.text_field :name
    .form-group
      = f.label :description
      = f.text_area :description
    .form-group
      = f.label :price
      = f.text_field :price
    .form-group
      = f.label :tax_rate
      = f.text_field :tax_rate
    .form-group
      = f.label :photo
      = f.file_field :photo
    = f.collection_select(:status, Item.statuses, :first, :first, selected: @item.status)
    %h4 Categories
    %div
      = f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b|
        = b.label do
          = b.text
          = b.check_box
    %footer
      = f.submit
