%main
  %h1 Checkout
  %table{:board => 0, :class => "table table-striped"}
    %tbody
      %tr
        %td
          %h4 Item
        %td
          %h4 Description
        %td
          %h4 Price
        %td
          %h4 Tax Rate
        %td
          %h4 Quantity
      - @cart.items.each do |item|
        %tr{:class => "item item-#{item.id}"}
          %td #{item.name}
          %td #{item.description}
          %td= number_to_currency(item.price)
          %td= item.tax_rate.round(2).to_s + '%'
          %td #{@cart.contents[item.id.to_s]}
      %tr
        %td
        %td
        %td
        %td
          %h4= "Total: #{number_to_currency(@cart.total_price)}"
  = form_for @order do |f|
    = f.hidden_field "user_id", value: current_user.id
    %h3 Shipping Address
    = f.fields_for :address, @order.build_address do |a|
      .form-group
        = a.label(:address, class:'sr-only')
        = a.text_field(:address, class:'form-control', placeholder: 'Street Address')
      .form-group
        = a.fields_for :city, a.object.build_city do |c|
          = c.label(:name, "City", class:'sr-only')
          = c.text_field(:name, class:'form-control', placeholder: 'City')
          .form-group
            = c.fields_for :city, :state do |s|
              = c.label "State"
              = c.collection_select(:state_id, State.all, :id, :abbr, prompt: true)
      .form-group
        = a.label(:zipcode, class:'sr-only')
        = a.text_field(:zipcode, class:'form-control', placeholder: 'Zipcode')
    = f.submit "Complete Order", :class => "btn btn-success"
